.login-section {
  height: 92vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}
.login-container {
  height: 100%;
  width: 1300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  width: 400px;
  background-color: white;
  padding: 40px 0;
  border-radius: 15px;
  box-shadow: 0px 5px 6px rgb(0, 0, 0);
}

.login-form h4 {
  font-size: 20px;
  color: gray;
  width: 300px;
  margin: auto;
  margin-bottom: 30px;
}

.input-group {
  width: 300px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.input-group label {
  color: gray;
  font-size: 15px;
  position: absolute;
  top: 10px;
  transition: 0.5s ease-in-out;
}

.input-group input {
  padding: 7px;
  outline: none;
  border: none;
  margin-top: 5px;
  border-bottom: 1px solid darkgray;
  color: skyblue;
}

.input-group input:focus ~ label,
.input-group input:valid ~ label {
  color: black;
  top: -10px;
  font-size: 12px;
}

.input-group input:focus,
.input-group input:valid {
  border-color: black;
}

.submit-sec {
  text-align: center;
}

.submit-btn {
  font-weight: bold;
  background: linear-gradient(
    45deg,
    rgb(16, 137, 211) 0%,
    rgb(18, 177, 209) 100%
  );
  color: white;
  margin-top: 15px;
  padding: 10px 0;
  width: 300px;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 20px 10px -15px;
  border: none;
  transition: all 0.2s ease-in-out;
}

.submit-btn:hover {
  transform: scale(1.03);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 23px 10px -20px;
}
